
html, body {
    height: 100%;
}

body {
	padding: 20px;
    background-color: #998c66;
}


#ayylmao {
	position:absolute;
	top: 30px;
	left: 422px;
	margin: 30px;
	max-width: 800px;
	min-width: 300px;
}

